/* estilo del boton de corazon */

.card-img-container {
    position: relative;
}

.like-button{
  position: relative;
  display: flex;
  align-items: right;
  justify-content: right;
  top: 3px;
  right: 3px;
  height: 0px;
}

.like-button .heart-icon {
  height: 100px;
  width: 100px;
  background: url("img/heart.png");
  background-position: left;
  cursor: pointer;
  position: absolute;
}

.like-button .heart-icon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}

.like-button .heart-bg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
}

.like-button .heart-bg:hover {
  background: rgba(255, 192, 200, 0.7);
}








/* estilo de las imagenes del modal */
.modal-body {
  position: relative;
}

  
/* Estilos para la imagen grande */

.container-imagen-grande {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    max-height: 100%; /* Asegura que la imagen no exceda la altura del contenedor */
    overflow: hidden;
    border-radius: 20px;
    margin-left: -5px;
    
}
  

.large-image {
    width: 356px;
    height: 210px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    object-fit: cover;
  }
  
  /* Estilos para el contenedor de imágenes pequeñas */
.container-imagnes-pequeñas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10%;
    margin-right: -5px;
    margin-top: 10px;
    gap: 20px;
    
  }
    
    
  
  
  /* Estilos para las imágenes pequeñas */
  .small-image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }


  /* estilo de la linea */
  .linea {
    width: 74%;
    height: 1px;
    background-color: #000000;
    margin-top: -112px;
    margin-left: 361px;
    position: absolute;
  }
  


  /* estilo del texto */
  .detalle {
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    margin-left: 361px;
    margin-top: -112px;
    position: absolute;
    width: 412px;
    height: 342px;
  }



  /* estilo del mapa */
  .mapa {
    margin-left: 830px;
    margin-top: -100px;
    position: absolute;
    width: 100px;
    height: 100px;
  }


  /* estilo circulo del perfil*/
  .circulo-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background: none;
    margin-left: 600px;
    margin-top: -320px;
    position: absolute;
  }

  .circulo-perfil img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del círculo */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra completamente el círculo sin distorsionarse */
  }
  


  /* estilo rectangulo informativo */
  .rectangulo-informativo{
    width: 408px;
    height: 48px;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 450px;
    margin-top: -210px;
    position: relative;
    background-color: #CBE8D3;
  }


  /* estilo icono whatsapp */

.icono-whatsapp img {
    position: absolute;
    right: 70px; /* Mueve el icono hacia la derecha */
    top: 50%; /* Centra verticalmente el icono */
    transform: translateY(-50%); /* Ajusta la posición vertical para centrar el icono */
}


  /* estilo texto del rrectangulo */
  .texto-personalizado {
    color: #33333369; /* Cambia el color del texto */
    font-size: 18px; /* Cambia el tamaño de la fuente */
    text-align: left; /* Centra el texto */
    margin-top: 12px;
    margin-left: 10px;
}


/* estilo icono gmail */
.icono-gmail img {
  position: absolute;
  right: 38px; /* Mueve el icono hacia la derecha */
  top: 50%; /* Centra verticalmente el icono */
  transform: translateY(-50%); /* Ajusta la posición vertical para centrar el icono */
}


/* estilo icono telefono */
.icono-telefono img {
  position: absolute;
  right: 10px; /* Mueve el icono hacia la derecha */
  top: 50%; /* Centra verticalmente el icono */
  transform: translateY(-50%); /* Ajusta la posición vertical para centrar el icono */
}



/* estilo de servicios */
.texto-servicios {
  font-size: 18px; /* Cambia el tamaño de la fuente */
  margin-top: 200px;
  margin-left: 5px;
  font-weight: 400;
  color: #000000; /* Cambia el color del texto */

}

.servicios {
  position: absolute; /* Posiciona el contenedor.servicios de manera absoluta */
  bottom: 0; /* Posiciona el contenedor.servicios en la parte inferior del contenedor padre */
  left: 0; /* Mueve el contenedor.servicios hacia la izquierda */
}


.servicios-iconos {
  position: absolute; 
  left: 18px; /* Mueve el contenedor hacia la izquierda */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Añade espacio entre las imágenes */
}


.aprobado {
  position: absolute; 
  left: 58px; /* Mueve el contenedor hacia la izquierda */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Añade espacio entre las imágenes */
}


.aprobado img {
  margin-bottom: 10px; /* Añade espacio debajo de cada imagen */
}

.servicios-iconos img{
  margin-bottom: 10px; /* Añade espacio debajo de cada imagen */

}


/* columna 2 de servicios */
.aprobado-columna2 {
  position: absolute; 
  left: 180px; /* Mueve el contenedor hacia la izquierda */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Añade espacio entre las imágenes */
}

.aprobado-columna2 img {
  margin-bottom: 10px; /* Añade espacio debajo de cada imagen */
}

.servicios-iconos-columna2 {
  position: absolute; 
  left: 140px; /* Mueve el contenedor hacia la izquierda */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Añade espacio entre las imágenes */
}

.servicios-iconos-columna2 img{
  margin-bottom: 10px; /* Añade espacio debajo de cada imagen */

}



/* columna 2 de servicios */
.aprobado-columna3 {
  position: absolute; 
  left: 310px; /* Mueve el contenedor hacia la izquierda */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Añade espacio entre las imágenes */
}

.aprobado-columna3 img {
  margin-bottom: 10px; /* Añade espacio debajo de cada imagen */
}

.servicios-iconos-columna3 {
  position: absolute; 
  left: 270px; /* Mueve el contenedor hacia la izquierda */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Añade espacio entre las imágenes */
}

.servicios-iconos-columna3 img{
  margin-bottom: 10px; /* Añade espacio debajo de cada imagen */

}


/* estilos compartir */
.compartir{
  position: absolute; 
  right: 150px; /* Mueve el contenedor hacia la izquierda */
  display: flex;
  bottom: 435px;
  gap: 15px;
}

.texto-compartir{
  font-size: 18px; /* Cambia el tamaño de la fuente */
  font-weight: 400;
  color: #000000; /* Cambia el color del texto */
  top: 5px;
  position: relative;
}


/* estilos guardar */

.favoritos{
  position: absolute; 
  right: 15px; /* Mueve el contenedor hacia la izquierda */
  display: flex;
  bottom: 435px;
  gap: 15px;
}

.texto-Guardar{
  font-size: 18px; /* Cambia el tamaño de la fuente */
  font-weight: 400;
  color: #000000; /* Cambia el color del texto */
  top: 5px;
  position: relative;
}








  


